In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(style='white')

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go

In [2]:
customer = pd.read_excel("Customer.xlsx")

In [3]:
customer_detail = pd.read_excel("Customer_Detail.xlsx")

In [4]:
customer_data = pd.merge(customer, customer_detail, on ='Account', how ='left')

In [5]:
customer_data.head()

,Account,customer_name,county_name,latitude,longitude,state,Field_Rep_Code,Credit limit,Risk,Credit_Balance,Cred_Bal%,Prev_Sale_Amount
0,6017231,ROUSES POINT VILLAGE CORPORATION,ROUSES POINT VILLAGE,44.993940,-73.364983,New York,B7,15000000.0,MED,10189229.05,67.93,24160273.66
1,6361056,LORAIN HOLDINGS,LORAIN,41.263355,-82.173475,Ohio,B7,1750000.0,MED,304127.61,17.38,555814.35
2,6360157,ROCKY HILL BOROUGH LLC,ROCKY HILL BOROUGH,59.277151,-151.403349,Alaska,B7,6500000.0,MED,1519348.89,23.37,7383099.98
3,6360127,BATESVILLE ADMINISTRATION,BATESVILLE,35.769799,-91.640972,Arkansas,B6,4500000.0,LOW,470265.59,10.45,-20207.62
4,6046331,FALMOUTH COOPERATIVE,FALMOUTH,38.676737,-84.330459,Kentucky,A9,100000.0,MED,-5179.91,-5.18,79651.34

In [6]:
#No field representatives for these customers
no_fld_rep = customer_data[customer_data.Field_Rep_Code.isnull()]

In [7]:
#customer_data.to_excel(r'B:\Customer_Data_Full.xlsx', index = False)

In [8]:
cb_2019 = pd.read_excel("CB_2019.xlsx", sheet_name="CB_2019")

In [9]:
cb_2020 = pd.read_excel("CB_2020.xlsx", sheet_name="CB_2020")

In [10]:
bsad_2019 = pd.read_excel("CB_2019.xlsx", sheet_name="BSAD_2019")

In [11]:
bsad_2020 = pd.read_excel("CB_2020.xlsx", sheet_name="BSAD_2020")

In [12]:
bseg_2019 = pd.read_excel("CB_2019.xlsx", sheet_name="BSEG_2019")

In [13]:
bseg_2020 = pd.read_excel("CB_2020.xlsx", sheet_name="BSEG_2020")

In [14]:
bkpf_2019 = pd.read_excel("CB_2019.xlsx", sheet_name="BKPF_2019")

In [15]:
bkpf_2020 = pd.read_excel("CB_2020.xlsx", sheet_name="BKPF_2020")

In [16]:
x_19 = bkpf_2019['Document_No']
x_19 = x_19.to_list()

In [17]:
x_20 = bkpf_2020['Document_No']
x_20 = x_20.to_list()

In [18]:
cb_2019 = cb_2019[~cb_2019['Clrng_Doc_No'].isin(x_19)]
bsad_2019 = bsad_2019[~bsad_2019['Clrng_Doc_No'].isin(x_19)]
bseg_2019 = bseg_2019[~bseg_2019['Document_No'].isin(x_19)]

In [19]:
cb_2020 = cb_2020[~cb_2020['Clrng_Doc_No'].isin(x_20)]
bsad_2020 = bsad_2020[~bsad_2020['Clrng_Doc_No'].isin(x_20)]
bseg_2020 = bseg_2020[~bseg_2020['Document_No'].isin(x_20)]

In [20]:
cb_2019["df"] = 1
cb_2020["df"] = 2
cb = pd.concat([cb_2019, cb_2020])

In [21]:
bsad_2019["df"] = 1
bsad_2020["df"] = 2
bsad = pd.concat([bsad_2019, bsad_2020])

In [22]:
bseg_2019["df"] = 1
bseg_2020["df"] = 2
bseg = pd.concat([bseg_2019, bseg_2020])

In [23]:
cb

,Document_No,Line_Itm_No,Unique_Doc_No,Doc_Creation_Date,CB_Amount,Days_to_Clear,Reason_Cd,Acct_Type,Cust_Acct_No,Clearing_Date,Clrng_Doc_No,BSEG,BSAD,BKPF,df
0,1400009895,1,14000098951,2013-12-30,7057.45,1886,CDI,ZB,6017231,2019-03-30,100362129,100362129.0,100362129,NaN,1
1,1400004560,1,14000045601,2013-12-31,666.26,1885,CDI,ZB,6017231,2019-03-30,100362129,100362129.0,100362129,NaN,1
2,100040078,1,1000400781,2014-01-28,284.78,1857,CFD,AB,6017231,2019-03-30,100362129,100362129.0,100362129,NaN,1
3,1400039311,32,140003931132,2014-02-03,119.82,1851,CDI,ZB,6017231,2019-03-30,100362129,100362129.0,100362129,NaN,1
4,1400039311,33,140003931133,2014-02-03,75.75,1851,CDI,ZB,6017231,2019-03-30,100362129,100362129.0,100362129,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36462,100595484,1,1005954841,2020-07-10,8.13,-30,CTX,AB,5513901,2020-07-10,100595503,100595503.0,100595503,NaN,2
36463,100595488,1,1005954881,2020-07-10,56.15,-30,CTX,AB,5513901,2020-07-10,100595503,100595503.0,100595503,NaN,2
36464,100595490,1,1005954901,2020-07-10,10.59,-30,CTX,AB,5513901,2020-07-10,100595503,100595503.0,100595503,NaN,2
36465,100595491,1,1005954911,2020-07-10,6.15,-30,CTX,AB,5513901,2020-07-10,100595503,100595503.0,100595503,NaN,2
36466,1400011261,2,14000112612,2020-01-07,1003.56,-30,CSS,ZB,6031361,2020-07-01,100575807,100575807.0,100575807,NaN,2

In [24]:
bsad

,Cust_Acct_No,Clearing_Date,Clrng_Doc_No,Document_No,Line_Itm_No,Unique_Doc_No,Doc_Creation_Date,Acct_Type,D/C,Bus_Area,CB_Amount,Actual_CB_Amount,G/L,Reason_Cd,df
10,5070020,2019-03-08,100264275,100264275,2,1002642752,2019-03-08,AB,H,PTK,0.73,-0.73,1111001,NaN,1
11,5070020,2019-03-08,100264275,100264275,3,1002642753,2019-03-08,AB,H,PTQ,17.92,-17.92,1111001,NaN,1
12,5070020,2019-03-08,100264275,1400005785,3,14000057853,2019-01-03,ZB,S,PTQ,0.11,0.11,1111001,CDI,1
13,5070020,2019-03-08,100264275,1400005785,4,14000057854,2019-01-03,ZB,S,PTQ,9.97,9.97,1111001,CDI,1
14,5070020,2019-03-08,100264275,1400005785,5,14000057855,2019-01-03,ZB,S,PTQ,3.74,3.74,1111001,CDI,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67148,6380351,2020-02-29,1400071074,9432337202,1,94323372021,2020-01-29,RV,S,HTLS,643.98,643.98,1111001,NaN,2
67149,6380351,2020-03-23,1400097483,1400097482,1,14000974821,2020-03-20,DZ,H,NaN,2055.87,-2055.87,1111001,NaN,2
67150,6380351,2020-03-23,1400097483,1400097483,16,140009748316,2020-03-20,ZB,S,NaN,2055.87,2055.87,1111001,NaN,2
67151,6380351,2020-03-23,1400097483,1400097483,17,140009748317,2020-03-20,ZB,H,HTLS,38.94,-38.94,1111001,NaN,2
67152,6380351,2020-03-23,1400097483,9432420867,1,94324208671,2020-02-11,RV,S,HTLS,38.94,38.94,1111001,NaN,2

In [25]:
bsad_rc = bsad['Reason_Cd'].unique()
bsad_rc = list(filter(lambda x: isinstance(x, str), bsad_rc))
bsad_rc_list = []
for i in bsad_rc:
    if i.startswith("C") or i.startswith("T"):
        bsad_rc_list.append(i)

In [26]:
bsad_cb = bsad[bsad['Reason_Cd'].isin(bsad_rc_list)]

In [27]:
bsad_cb.columns = [str(col) + '_bsad' for col in bsad_cb.columns]

In [28]:
bsad_cb.rename(columns={'Unique_Doc_No_bsad':'Unique_Doc_No',}, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4223: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [29]:
cb_track = pd.merge(cb, bsad_cb, on ='Unique_Doc_No', how ='outer')

In [30]:
cb_track.columns

Index(['Document_No', 'Line_Itm_No', 'Unique_Doc_No', 'Doc_Creation_Date',
       'CB_Amount', 'Days_to_Clear', 'Reason_Cd', 'Acct_Type', 'Cust_Acct_No',
       'Clearing_Date', 'Clrng_Doc_No', 'BSEG', 'BSAD', 'BKPF', 'df',
       'Cust_Acct_No_bsad', 'Clearing_Date_bsad', 'Clrng_Doc_No_bsad',
       'Document_No_bsad', 'Line_Itm_No_bsad', 'Doc_Creation_Date_bsad',
       'Acct_Type_bsad', 'D/C_bsad', 'Bus_Area_bsad', 'CB_Amount_bsad',
       'Actual_CB_Amount_bsad', 'G/L_bsad', 'Reason_Cd_bsad', 'df_bsad'],
      dtype='object')

In [31]:
cb_track=cb_track[['Document_No', 'Line_Itm_No', 'Unique_Doc_No', 'Doc_Creation_Date',
       'CB_Amount', 'Days_to_Clear', 'Reason_Cd', 'Acct_Type', 'Cust_Acct_No',
       'Clearing_Date', 'Clrng_Doc_No','D/C_bsad', 'Bus_Area_bsad', 'CB_Amount_bsad',
       'Actual_CB_Amount_bsad', 'G/L_bsad']]

In [32]:
busa = pd.read_excel("Business_Area.xlsx")

In [35]:
busa.columns

Index(['Business Area', 'Description'], dtype='object')

In [36]:
busa.rename(columns={'Business Area': 'Bus_Area','Description': 'Bus_Area_Desc'}, inplace=True)

In [37]:
cb_track.rename(columns={'Bus_Area_bsad': 'Bus_Area','Actual_CB_Amount_bsad': 'Actual_CB_Amount','G/L_bsad': 'G/L'}, inplace=True)

In [38]:
cb_track = pd.merge(cb_track, busa, on ='Bus_Area', how ='left')

In [44]:
customer_data.rename(columns={'Account': 'Cust_Acct_No','G/L_bsad': 'G/L','   Credit limit': 'Credit_Limit','       Credit_Balance': 'Credit_Balance','          Cred_Bal%': 'Cred_Bal%','         Prev_Sale_Amount': 'Prev_Sale_Amount'}, inplace=True)

In [45]:
cb_track = pd.merge(cb_track, customer_data, on ='Cust_Acct_No', how ='left')

In [47]:
cb_track.columns

Index(['Document_No', 'Line_Itm_No', 'Unique_Doc_No', 'Doc_Creation_Date',
       'CB_Amount', 'Days_to_Clear', 'Reason_Cd', 'Acct_Type', 'Cust_Acct_No',
       'Clearing_Date', 'Clrng_Doc_No', 'D/C_bsad', 'Bus_Area',
       'CB_Amount_bsad', 'Actual_CB_Amount', 'G/L', 'Bus_Area_Desc',
       'customer_name_x', 'county_name_x', 'latitude_x', 'longitude_x',
       'state_x', 'Field_Rep_Code_x', '   Credit limit', 'Risk_x',
       '       Credit_Balance', '          Cred_Bal%',
       '         Prev_Sale_Amount', 'customer_name_y', 'county_name_y',
       'latitude_y', 'longitude_y', 'state_y', 'Field_Rep_Code_y',
       'Credit_Limit', 'Risk_y', 'Credit_Balance', 'Cred_Bal%',
       'Prev_Sale_Amount'],
      dtype='object')

In [48]:
cb_track = cb_track[['Document_No', 'Line_Itm_No', 'Unique_Doc_No', 'Doc_Creation_Date',
       'CB_Amount', 'Days_to_Clear', 'Reason_Cd', 'Cust_Acct_No',
       'Clearing_Date', 'Clrng_Doc_No','Bus_Area',
       'Actual_CB_Amount', 'Bus_Area_Desc', 'customer_name_y', 'county_name_y',
       'latitude_y', 'longitude_y', 'state_y', 'Field_Rep_Code_y',
       'Credit_Limit', 'Risk_y', 'Credit_Balance', 'Cred_Bal%',
       'Prev_Sale_Amount']]

In [49]:
cb_track['Days_taken_to_Clear'] = cb_track.Clearing_Date - cb_track.Doc_Creation_Date

In [52]:
cb_track.dtypes

Document_No                      int64
Line_Itm_No                      int64
Unique_Doc_No                    int64
Doc_Creation_Date       datetime64[ns]
CB_Amount                      float64
Days_to_Clear                    int64
Reason_Cd                       object
Cust_Acct_No                     int64
Clearing_Date           datetime64[ns]
Clrng_Doc_No                     int64
Bus_Area                        object
Actual_CB_Amount               float64
Bus_Area_Desc                   object
customer_name_y                 object
county_name_y                   object
latitude_y                     float64
longitude_y                    float64
state_y                         object
Field_Rep_Code_y                object
Credit_Limit                   float64
Risk_y                          object
Credit_Balance                 float64
Cred_Bal%                      float64
Prev_Sale_Amount               float64
Days_taken_to_Clear    timedelta64[ns]
dtype: object

In [53]:
cb_track['Days_taken_to_Clear'].dt.days

0         1916
1         1915
2         1887
3         1881
4         1881
          ...
128250       0
128251       0
128252       0
128253       0
128254     176
Name: Days_taken_to_Clear, Length: 128255, dtype: int64

In [54]:
cb_track['CB_Created_Year'] = pd.to_datetime(cb_track['Doc_Creation_Date']).dt.year
cb_track['CB_Closed_Month'] = pd.to_datetime(cb_track['Clearing_Date']).dt.month

In [56]:
cb_track.columns

Index(['Document_No', 'Line_Itm_No', 'Unique_Doc_No', 'Doc_Creation_Date',
       'CB_Amount', 'Days_to_Clear', 'Reason_Cd', 'Cust_Acct_No',
       'Clearing_Date', 'Clrng_Doc_No', 'Bus_Area', 'Actual_CB_Amount',
       'Bus_Area_Desc', 'customer_name_y', 'county_name_y', 'latitude_y',
       'longitude_y', 'state_y', 'Field_Rep_Code_y', 'Credit_Limit', 'Risk_y',
       'Credit_Balance', 'Cred_Bal%', 'Prev_Sale_Amount',
       'Days_taken_to_Clear', 'CB_Created_Year', 'CB_Closed_Month'],
      dtype='object')

In [57]:
cb_track = cb_track[['Document_No', 'Line_Itm_No', 'Unique_Doc_No', 'Days_taken_to_Clear', 'Reason_Cd', 'Cust_Acct_No',
       'Clearing_Date', 'Clrng_Doc_No', 'Bus_Area', 'Actual_CB_Amount',
       'Bus_Area_Desc', 'customer_name_y', 'latitude_y',
       'longitude_y', 'state_y', 'Field_Rep_Code_y', 'Credit_Limit', 'Risk_y',
       'Credit_Balance', 'Cred_Bal%', 'Prev_Sale_Amount',
       'CB_Created_Year', 'CB_Closed_Month']]

In [58]:
reason_cd = pd.read_excel("CB_2019.xlsx", sheet_name="Reason_Code")

In [61]:
cb_track = pd.merge(cb_track, reason_cd, on ='Reason_Cd', how ='left')

In [62]:
cb_track

,Document_No,Line_Itm_No,Unique_Doc_No,Days_taken_to_Clear,Reason_Cd,Cust_Acct_No,Clearing_Date,Clrng_Doc_No,Bus_Area,Actual_CB_Amount,...,state_y,Field_Rep_Code_y,Credit_Limit,Risk_y,Credit_Balance,Cred_Bal%,Prev_Sale_Amount,CB_Created_Year,CB_Closed_Month,Reason_Cd_Desc
0,1400009895,1,14000098951,1916 days,CDI,6017231,2019-03-30,100362129,NaN,7057.45,...,New York,B7,15000000.0,MED,10189229.05,67.93,24160273.66,2013,3,Discount
1,1400004560,1,14000045601,1915 days,CDI,6017231,2019-03-30,100362129,NaN,666.26,...,New York,B7,15000000.0,MED,10189229.05,67.93,24160273.66,2013,3,Discount
2,100040078,1,1000400781,1887 days,CFD,6017231,2019-03-30,100362129,NaN,284.78,...,New York,B7,15000000.0,MED,10189229.05,67.93,24160273.66,2014,3,Field Destroy
3,1400039311,32,140003931132,1881 days,CDI,6017231,2019-03-30,100362129,NaN,119.82,...,New York,B7,15000000.0,MED,10189229.05,67.93,24160273.66,2014,3,Discount
4,1400039311,33,140003931133,1881 days,CDI,6017231,2019-03-30,100362129,NaN,75.75,...,New York,B7,15000000.0,MED,10189229.05,67.93,24160273.66,2014,3,Discount
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128250,100595484,1,1005954841,0 days,CTX,5513901,2020-07-10,100595503,PTK,8.13,...,Iowa,D1,5000.0,MED,14.71,0.29,2441.64,2020,7,Sales Tax
128251,100595488,1,1005954881,0 days,CTX,5513901,2020-07-10,100595503,PTK,56.15,...,Iowa,D1,5000.0,MED,14.71,0.29,2441.64,2020,7,Sales Tax
128252,100595490,1,1005954901,0 days,CTX,5513901,2020-07-10,100595503,PTK,10.59,...,Iowa,D1,5000.0,MED,14.71,0.29,2441.64,2020,7,Sales Tax
128253,100595491,1,1005954911,0 days,CTX,5513901,2020-07-10,100595503,PTK,6.15,...,Iowa,D1,5000.0,MED,14.71,0.29,2441.64,2020,7,Sales Tax
128254,1400011261,2,14000112612,176 days,CSS,6031361,2020-07-01,100575807,NaN,1003.56,...,Kansas,A6,1125000.0,HIG,698710.75,62.11,3724715.93,2020,7,Short Shipment

In [66]:
cb_track["Bus_Area"].fillna("ND", inplace = True) 
cb_track["Bus_Area_Desc"].fillna("Not Defined", inplace = True) 
cb_track["Field_Rep_Code_y"].fillna("Not Assigned", inplace = True)

In [67]:
cb_track.columns

Index(['Document_No', 'Line_Itm_No', 'Unique_Doc_No', 'Days_taken_to_Clear',
       'Reason_Cd', 'Cust_Acct_No', 'Clearing_Date', 'Clrng_Doc_No',
       'Bus_Area', 'Actual_CB_Amount', 'Bus_Area_Desc', 'customer_name_y',
       'latitude_y', 'longitude_y', 'state_y', 'Field_Rep_Code_y',
       'Credit_Limit', 'Risk_y', 'Credit_Balance', 'Cred_Bal%',
       'Prev_Sale_Amount', 'CB_Created_Year', 'CB_Closed_Month',
       'Reason_Cd_Desc'],
      dtype='object')

In [68]:
cb_track = cb_track[['Document_No', 'Line_Itm_No', 'Unique_Doc_No', 'CB_Created_Year','Days_taken_to_Clear',
        'Clrng_Doc_No','CB_Closed_Month',
        'Actual_CB_Amount', 'Reason_Cd','Reason_Cd_Desc','Bus_Area', 'Bus_Area_Desc','Cust_Acct_No', 'customer_name_y',
       'latitude_y', 'longitude_y', 'state_y', 'Field_Rep_Code_y',
       'Credit_Limit', 'Risk_y', 'Credit_Balance', 'Cred_Bal%',
       'Prev_Sale_Amount'  
       ]]

In [70]:
EXTRM = ['HLD', 'CIA', 'C11', 'CLD', 'CH7', 'PFC']

def cust_risk(risk):
    if risk in EXTRM:
        return 'EXTRM'
    else:
      return risk

cb_track['Cust_Risk_Category'] = cb_track['Risk_y'].apply(cust_risk)

In [72]:
cb_track.isnull().sum()

Document_No            0
Line_Itm_No            0
Unique_Doc_No          0
CB_Created_Year        0
Days_taken_to_Clear    0
Clrng_Doc_No           0
CB_Closed_Month        0
Actual_CB_Amount       0
Reason_Cd              0
Reason_Cd_Desc         0
Bus_Area               0
Bus_Area_Desc          0
Cust_Acct_No           0
customer_name_y        0
latitude_y             0
longitude_y            0
state_y                0
Field_Rep_Code_y       0
Credit_Limit           0
Risk_y                 0
Credit_Balance         0
Cred_Bal%              0
Prev_Sale_Amount       0
Cust_Risk_Category     0
dtype: int64

In [71]:
cb_track.to_excel(r'B:\Chargeback_Tracking.xlsx', index = False)

In [73]:
bsad

,Cust_Acct_No,Clearing_Date,Clrng_Doc_No,Document_No,Line_Itm_No,Unique_Doc_No,Doc_Creation_Date,Acct_Type,D/C,Bus_Area,CB_Amount,Actual_CB_Amount,G/L,Reason_Cd,df
10,5070020,2019-03-08,100264275,100264275,2,1002642752,2019-03-08,AB,H,PTK,0.73,-0.73,1111001,NaN,1
11,5070020,2019-03-08,100264275,100264275,3,1002642753,2019-03-08,AB,H,PTQ,17.92,-17.92,1111001,NaN,1
12,5070020,2019-03-08,100264275,1400005785,3,14000057853,2019-01-03,ZB,S,PTQ,0.11,0.11,1111001,CDI,1
13,5070020,2019-03-08,100264275,1400005785,4,14000057854,2019-01-03,ZB,S,PTQ,9.97,9.97,1111001,CDI,1
14,5070020,2019-03-08,100264275,1400005785,5,14000057855,2019-01-03,ZB,S,PTQ,3.74,3.74,1111001,CDI,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67148,6380351,2020-02-29,1400071074,9432337202,1,94323372021,2020-01-29,RV,S,HTLS,643.98,643.98,1111001,NaN,2
67149,6380351,2020-03-23,1400097483,1400097482,1,14000974821,2020-03-20,DZ,H,NaN,2055.87,-2055.87,1111001,NaN,2
67150,6380351,2020-03-23,1400097483,1400097483,16,140009748316,2020-03-20,ZB,S,NaN,2055.87,2055.87,1111001,NaN,2
67151,6380351,2020-03-23,1400097483,1400097483,17,140009748317,2020-03-20,ZB,H,HTLS,38.94,-38.94,1111001,NaN,2
67152,6380351,2020-03-23,1400097483,9432420867,1,94324208671,2020-02-11,RV,S,HTLS,38.94,38.94,1111001,NaN,2

In [75]:
cb.to_excel(r'B:\CB_Data_Full.xlsx', index = False)