In [1]:
import pandas as pd
import numpy as np
d = pd.read_csv('CompanyJ_Instaposts.csv')
d.head()

,User,Followers,Caption,Character Count,Comments Count,Created Time,Likes Count,Media ID,Total Actions,Total Actions % Followers,Media Type,Includes Hashtag
0,Company J,"11,622,410",The New Years Party we want to see,20-39,"1,340",2019-01-01 01:02:52,"198,986",1546304572_28995773,"200,326",2,video,False
1,Company J,"11,622,410",James Harden joins Kobe and MJ as 3rd player i...,120-139,"5,240",2019-01-01 02:14:29,"447,820",1546308869_28995773,"453,060",4,image,False
2,Company J,"11,622,410",Harden is in MVP form,20-39,"1,880",2019-01-01 02:51:42,"278,107",1546311102_28995773,"279,987",2,image,False
3,Company J,"11,622,410",Russ wishes everyone a Happy New Year and give...,100-119,694,2019-01-01 04:54:52,"261,846",1546318492_28995773,"262,540",2,video,False
4,Company J,"11,622,410",Jimmy Butler made his NBA debut on this day in...,140-plus,"2,223",2019-01-01 15:35:58,"536,990",1546356958_28995773,"539,213",5,image,False

In [2]:
d.drop(['Followers','Total Actions % Followers','Created Time', 'Media ID'] , axis =1, inplace= True )
d.head()

,User,Caption,Character Count,Comments Count,Likes Count,Total Actions,Media Type,Includes Hashtag
0,Company J,The New Years Party we want to see,20-39,"1,340","198,986","200,326",video,False
1,Company J,James Harden joins Kobe and MJ as 3rd player i...,120-139,"5,240","447,820","453,060",image,False
2,Company J,Harden is in MVP form,20-39,"1,880","278,107","279,987",image,False
3,Company J,Russ wishes everyone a Happy New Year and give...,100-119,694,"261,846","262,540",video,False
4,Company J,Jimmy Butler made his NBA debut on this day in...,140-plus,"2,223","536,990","539,213",image,False

In [3]:
df_null = pd.DataFrame({'Count': d.isnull().sum(), 'Percent': 100*d.isnull().sum()/len(d)})

df_null[df_null['Count'] > 0].sort_values(by=['Percent'], ascending=False)

         Count   Percent
Caption    138  2.655378

In [4]:
d.dropna(axis=0, inplace=True)

In [5]:
tweetcount = []
for msg in d.Caption:
    x = len(msg)
    tweetcount.append(x)
d['Character Count'] = tweetcount
d.head()

,User,Caption,Character Count,Comments Count,Likes Count,Total Actions,Media Type,Includes Hashtag
0,Company J,The New Years Party we want to see,35,"1,340","198,986","200,326",video,False
1,Company J,James Harden joins Kobe and MJ as 3rd player i...,121,"5,240","447,820","453,060",image,False
2,Company J,Harden is in MVP form,22,"1,880","278,107","279,987",image,False
3,Company J,Russ wishes everyone a Happy New Year and give...,104,694,"261,846","262,540",video,False
4,Company J,Jimmy Butler made his NBA debut on this day in...,221,"2,223","536,990","539,213",image,False

In [10]:
#d.to_csv(r'A:/OPIM5671-Prof.JingPeng/Project/instagram.csv', index = False)